@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Poor+Story&display=swap')
	;

#main {
	font-family: 'Poor Story', cursive;
	font-family: 'Nanum Myeongjo', serif;
}

#main {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px; 
	color: white;
}

body{
	background : rgb(26, 26, 26);
}