html, body{
	margin: 0;
    height: 100%;
    overflow: hidden;
}

/* a 태그 세팅 */
a{text-decoration: none}
a:visited{color:rgb(255, 255, 255)}
a:link{color:rgb(255, 255, 255)}

/* 약간 배경색  */
.bg2ndColor {
	background-color: rgb(39, 39, 39);
}

.leftSidePannel {
	width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.mainPannel{
	height: 100%;
	display: flex;
    flex-direction: row;
    overflow: hidden;
}
