<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>추천 영화 상세보기 페이지</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/movieRec.css">
<link rel="stylesheet" href="/css/style.css">
<script>
$(document).ready(()=>{
	let isEmpty = function(value){ 
		if( value == "" || value == null || value == undefined || ( value != null && typeof value == "object" && !Object.keys(value).length ) ){ 
			return true 
		}
		else{ 
			return false 
			} 
		};
	//tmdb api 활용
	let movieId = $("#movieId").val();
	let apiUrl = "https://api.themoviedb.org/3/movie/";
	let apiKey = "?api_key=a1c25fa7fbd7117d8d4d73bf1892deae";
	let language = "&language=ko&append_to_response=credits";
	let userId = $("#userId").val();// session에 저장된 userId
	apiUrl += movieId; 
	apiUrl += apiKey;
	apiUrl += language;
	// 영화 상세정보 get
	$.ajax({
		type:"GET",
		url:apiUrl,
		success:(response)=>{
			// 이미지
			let imageUrl ="https://image.tmdb.org/t/p/original";
			// 포스터 이미지
			let poster ="";
			let posterPath = response.poster_path;
			if(isEmpty(posterPath)){
				poster = "../images/noimage.png";
			} else {
				poster = imageUrl + posterPath;
			}
			// 백드랍 이미지
			let backdropPath= response.backdrop_path;
			let backdrop = imageUrl + backdropPath;
			
			
			// 영화 장르
			let genresArray = response.genres;
			let genres="";
			for(let i=0;i<genresArray.length;i++){
				genres += genresArray[i].name;
				if(i<genresArray.length-1)
					genres += ", ";
			}
			// 영화 원제
			let originalTitle =response.original_title;
			// 영화 제목
			let title = response.title;
			// 영화 소개
			let tagline = response.tagline;
			// 영화 시놉시스
			let overview = response.overview;
			// 영화 개봉일
			let releaseDate = response.release_date;
			// 영화 런타임
			let runtime = response.runtime;
			// 영화 캐스팅
			let cast = response.credits.cast;
			let arrActor =new Array();
			let actors = "";
			for(let i=0;i<3 && i<cast.length;i++) {
				let personId = cast[i].id;
				$.ajax({
					type:"get",
					url:"https://api.themoviedb.org/3/person/"+personId+"?api_key=a1c25fa7fbd7117d8d4d73bf1892deae",
					async:false,
					success:(response)=>{
						arrActor[i] = response.name;
						let aka = response.also_known_as;
						for(let j=0;j<aka.length;j++){
							let regex = /([\uAC00-\uD7AF\u1100-\u11FF\u3130-\u318F]+)/g;
							if(regex.test(aka[j])){
								arrActor[i] = aka[j];
								break;
							}
						}
						actors += arrActor[i];
						if(i<2 && i<cast.length-1)
							actors += ", ";
					},
					error:()=>{
						alert("person 에러");
					}
				});
			}
			$("#movieBox").empty();
			let temp_html = `<div id="movieDataBox" class="col-sm-7">
				<h1 class="fw-bold mb-3">${title}<span class="text-secondary fs-3">(${originalTitle})</span></h1>
				<h4 class="fw-bold text-muted">${tagline}</h4>
				<div class="mb-3"><span>${overview}</span></div>
				<div class="d-flex justify-content-between">
	                <ul class="list-unstyled">	
	                    <li class="text-secondary fw-bold"><span class="me-3">출연</span><span>${actors}</span></li>
	                    <li class="text-secondary fw-bold"><span class="me-3">장르</span><span>${genres}</span></li>
	                    <li class="text-secondary fw-bold"><span class="me-3">개요</span><span>${releaseDate} | ${runtime}분</span></li>
	                </ul>
	                
                </div>
                <div class="d-flex justify-content-between">
	                <div>
		            	<button id="add-wish" class="btn btn-secondary">
		            		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
		        	    		<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
		        		  	</svg>
		        		  	<span>찜하기</span>
		        		</button>
		       		    <button id="cancel-wish" class="btn btn-danger" style="display: none;">
		       		    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
		            		    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
		            		</svg>
		            		<span>찜하기</span>
		        		</button>
		            </div>
		            <div>
		            	<button id="insert-review" class="btn btn-primary">
			            	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
			            	  <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
			            	</svg>
		            		<span>리뷰작성</span>
		            	</button>
		            </div>
                </div>
                <div id="modal" class="modal-overlay">
                	<div class="modal-window">
                		<div class="d-flex justify-content-between">
                		<div class="title">
                			<h4 class="text-black">${title}</h4>
                		</div>
                		<div class="close-area">X</div>
                		</div>
                		<div class="content">
			                <form action="/review" method="post">
			                	<input type="hidden" id="movieId" name="movieId" value="${movieId}">
			                	<input type="hidden" id="title" name="title" value="${title}">
			                	<input type="hidden" id="backdrop" name="backdrop" value="${backdrop}">
			                	<input type="hidden" id="poster" name="poster" value="${poster}">
			                	<input type="hidden" id="genres" name="genres" value="${genres}">
			                	<input type="hidden" id="actors" name="actors" value="${actors}">
			                	<input type="hidden" id="overview" name="overview" value="${overview}">
			                	<input type="hidden" id="tagline" name="tagline" value="${tagline}">
			                	<input type="hidden" id="releaseDate" name="releaseDate" value="${releaseDate}">
			                	<input type="hidden" id="runtime" name="runtime" value="${runtime}">
			                	<input type="hidden" id="userId" name="userId" value="${userId}">
			                	<div class="star-input">
				                	<span class="input">
				                    	<input type="radio" name="rating" value="1" id="rate1">
				                    	<label for="rate1">1</label>
				                    	<input type="radio" name="rating" value="2" id="rate2">
				                    	<label for="rate2">2</label>
				                    	<input type="radio" name="rating" value="3" id="rate3">
				                    	<label for="rate3">3</label>
				                    	<input type="radio" name="rating" value="4" id="rate4">
				                    	<label for="rate4">4</label>
				                    	<input type="radio" name="rating" value="5" id="rate5">
				                    	<label for="rate5">5</label>
				                    	<input type="radio" name="rating" value="6" id="rate6">
				                    	<label for="rate6">6</label>
				                    	<input type="radio" name="rating" value="7" id="rate7">
				                    	<label for="rate7">7</label>
				                    	<input type="radio" name="rating" value="8" id="rate8">
				                    	<label for="rate8">8</label>
				                    	<input type="radio" name="rating" value="9" id="rate9">
				                    	<label for="rate9">9</label>
				                    	<input type="radio" name="rating" value="10" id="rate10">
				                    	<label for="rate10">10</label>
				                  	</span>
				                  	<span class="score text-black"><span id="score">0</span>점</span>
				                </div>
				                <textarea id="content" name="content" rows=8 class="form-control my-3" placeholder="리뷰를 작성해주세요"></textarea>
				                <div class="d-flex justify-content-end">
				                	<button type="submit" class="btn btn-success">등록하기</button>
				                </div>
				            </form>
				        </div>
				    </div>
	            </div>
			</div>
			<div id="movieImgBox" class="col-sm-5 row">
				<div class="col-sm-8 mx-auto">
					<img id="movieImg" alt="영화 이미지" src="${poster}">
				</div>
			</div>`;
			$("#movieBox").append(temp_html);

			//사용자가 로그인되어 있으면 실행
			if(!isEmpty(userId))
				getWish();
			
			addWish();
			cancelWish();
			insertReview();
			starRating();
		},
		error:()=>{
			alert("get movie details 실패");
		}
	});
	// 서버에서 찜하기 정보 획득
	function getWish() {
		$.ajax({
		type:"GET",
		url:"/movie/wish",
		data:{movieId:movieId,userId:userId}, //영화id, 사용자 id
		success:(response)=>{
			for(let i=0;i<response.length;i++){
				if(response[i].movieId != movieId) {// 들고온 찜하기 목록 id와 movieId가 일치하지 않는다면(찜하기 목록에 없다면)
					$("#add-wish").css('display','block');
					$("#cancel-wish").css('display','none');
				} else {//찜하기 목록에 있다면 for문 탈출
					$("#add-wish").css('display','none');
					$("#cancel-wish").css('display','block');
					break;
				}	
			}
		},
		error:()=>{
			alert("찜하기 정보 획득 실패");
		}
		});
	}
	
	//찜하기 추가 버튼 클릭 이벤트
	function addWish() {
		$("#add-wish").on("click",()=>{
			if(isEmpty(userId)) {
				alert("로그인이 필요합니다");
			}
			else
			$.ajax({
				type:"POST",
				url:"/movie/wish",
				data:{movieId:movieId,userId:userId},
				success:(response)=>{
					$("#add-wish").css('display','none');
					$("#cancel-wish").css('display','block');
				},
				error:()=>{
					alert("user정보 획득 실패");
				}
			})
		});
	}
	
	
	//찜하기 해제 클릭 이벤트
	function cancelWish() {
		$("#cancel-wish").on("click",()=>{
			if(isEmpty(userId)) {
				alert("로그인이 필요합니다");
			}
			else
			$.ajax({
				type:"DELETE",
				url:"/movie/wish",
				data:{movieId:movieId,userId:userId},
				success:(response)=>{
					$("#add-wish").css('display','block');
					$("#cancel-wish").css('display','none');
				},
				error:()=>{
					alert("user정보 획득 실패");
				}
			})
		});
	}
	
	//리뷰 작성 버튼 모달
	function insertReview() {
		const modal = $("#modal");
		$("#insert-review").on("click",()=>{
			if(isEmpty(userId)) {
				alert("로그인이 필요합니다");
			} else {
				modal.css('display','flex');
				
				$(".close-area").on("click",()=>{
					modal.css('display','none');
				})
				
				modal.on("click", e=>{
					if(e.target.classList.contains("modal-overlay")) {
						modal.css('display','none');
					}
				})
			}
		})
	}
	
	// 리뷰 별점
	function starRating(){
		let star = $(".star-input");
		let result = $("#score");
			
		  	$(document).on("focusin", ".star-input>.input", 
				function(){
		   		 $(this).addClass("focus");
		 	})
				 
		   	.on("focusout", ".star-input>.input", function(){
		    	setTimeout(function(){
		      		if($(this).find(":focus").length === 0){
		      			$(this).removeClass("focus");
		     	 	}
		   		}, 100);
		 	 })
		  
		    .on("change", ".star-input :radio", function(){
		    	result.text($(this).next().text());
		  	})
		    .on("mouseover", ".star-input label", function(){
		    	result.text($(this).text());
		    })
		    .on("mouseleave", ".star-input>.input", function(){
		    	let checked = star.find(":checked");
		    		if(checked.length === 0){
		     	 		result.text("0");
		   		 	} else {
		     	 		result.text(checked.next().text());
		    		}
		  	});
		};
})
	
</script> 
</head>
<body class="bg-black text-white">
	<header th:include="header"></header>
    <div class="container mt-3">
		<input type="hidden" id="movieId" name="movieId" th:value="${movieId}">
		<input type="hidden" id="userId" name="userId" th:value="${session.userId}">
		
		<div id="movieBox" class="row">
			<div id="movieImgBox" class="col-sm-4 mx-auto">
				<img src="/images/loading.gif" class="mt-5">
			</div>
		</div>
	</div>
</body>
</html>