@charset "UTF-8";

body{
	background:url('../images/movie_search.jpeg') center center no-repeat;
}

.masonry {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.masonry .img-container {
  width: 250px;
  height: 250px;
}
.masonry .img-wrapper {
  width: inherit;
  height: inherit;
  position:relative;
  cursor:pointer;
}
.masonry img{
  object-fit: scale-down;
  width: inherit;
  height: inherit;
}

.clamp {
	width:250px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}