html, body{
	margin: 0;
    height: 100%;
}

@media(max-width:1020px){
		.navbar-toggler{
			 display:inline-block !important;
		}
		.navbar-top-menu div{
			display:none !important;
		}
	}

/* a 태그 세팅 */
a{text-decoration: none}
a:visited{color:rgb(255, 255, 255)}
a:link{color:rgb(255, 255, 255)}

/* 약간 배경색  */
.bg2ndColor{
	background-color: rgb(22, 22, 22);
}

#offcanvasNavbar{
	background-color:rgb(30, 30, 30);
	width:300px;
}

.offcanvas-body .nav-item button{
	border:none;
	padding-top:10px;
	padding-bottom:15px;
	padding-left:10px;
	font-size: 20px;
	background:none;
}
.navbar-toggler{
	display:none;
}

.page-nav-line{
	margin: 35px 0;
    height: 1px;
    background: #41464F;
}    

.MyPageListsfont{
	font-size: larger;
	margin-top: 10px;
	margin-bottom: 10px;
}

.MyPageSmallListsfont{
	font-size: smaller;
	margin-top: 10px;
	margin-bottom: 10px;
}

.headerLink:hover{
	color: black;
}

/* pagination customizing */
.custom-pagination.pagination .page-item {
	margin: 3px;
}
.custom-pagination.pagination .page-link{
	background: rgb(31,32,35);
	border-color: rgb(31,32,35);
}

.custom-pagination.pagination a:hover {
	color: rgb(182, 0, 55);
}

.custom-pagination.pagination > .active > a {
  background: rgb(182, 0, 55);
  border-color: rgb(182, 0, 55);
}
.custom-pagination.pagination > .active a:hover {
	color:  rgb(31,32,35);
}

/* mypage nav a태그 */
.navFocus{
	background-color: rgb(65, 65, 65);
	border-radius: 5px;
}

.btnRounded{
	border-radius: 50px;
	padding-right: 40px;
	padding-left: 40px;
}